@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'MontSerrat' ;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, #00BFFF, #DA70D6);  /*Propriedade que deixa o fundo gradiente, se usa: graus(deg), cor, cor */ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container { /*para conseguir colocar uma embaixo da outra*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex; /*elementos um do lado do outro e centralizados*/
    align-items: center;
    justify-content: space-around;
    height: 300px; /*altura*/
    width: 650px; /*largura*/ /*como o justify content está space around, os espaços contam dos lados*/
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 18px 20px rgba(0, 0, 0, .5);
}

.relogio div{ /*os quadrados de horas, minutos e segundos*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 170px;
    flex-direction: column;
    color: #fff;
    background: rgba(5, 5, 5, .7);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7); /*direita, esquerda, baixo, cima*/
    border-radius: 9px;
    letter-spacing: 5px;
}

.relogio span{
    font-weight: bolder;
    font-size: 40px;

}

.relogio span.tempo{
    font-size: 10px;
}

.creditos{
    display: flex; /*elementos um do lado do outro e centralizados*/
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100px; /*altura*/
    width: 600px; /*largura*/ /*como o justify content está space around, os espaços contam dos lados*/
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 28px 35px rgba(0, 0, 0, .5);
    flex-direction: row;
}

.creditos a{ /*para tirar o subilnhado do link*/
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 670px) { /*configura responsividade do site*/ 
    .relogio{
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .relogio div {
        margin-bottom: 10px; /* Adicione a margem inferior para separar as divs dentro de relogio */
        height: 900px;
        width: 200px;
    }
    .creditos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        box-shadow: none;
        height: 100px;
        width: 600px;
        background: transparent;
        border-radius: 5px;
        flex-direction: row;
    }
}
